<html ng-app="StateOfTheMediaApp">
<head>

    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
</head>

<body ng-controller="StateOfTheMediaController as MainController">

<div class="container">
    <div class="row">
        <h1 class="text-center">Welcome to State Of The Media</h1>
    </div>
    <div class="row">
        <h2>Articles for day<br><br></h2>
        <p>Select day to analyze:</p>
        <input type="date"
               ng-model="articleDate"
               ng-change="MainController.getArticlesForDate(articleDate)"></input>
        <p data-ng-show="MainController.articlesPerDay[articleDate.toDateString()] === undefined">
            There are no articles available for {{ articleDate.toLocaleDateString('en-US', MainController.dateFormattingOptions) }}
        </p>
        <div style="height: 600px; overflow-y: scroll">
            <div class="col-md-4">
                <div>
                    <div class="panel panel-default"
                        data-ng-class="{ 'panel-success': article.selectedForAnalysis }"
                        data-ng-repeat="article in MainController.getArticleColumn(0, articleDate) track by $index"
                        id="news-article-{{ $index }}">
                        <div class="panel-heading">Article {{ $index }}
                            <button data-ng-click="MainController.removeArticleIndex($index, articleDate)" type="button" class="close" aria-label="Remove from Analysis">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <button data-ng-click="MainController.addArticleIndex($index, articleDate)" style="margin-right: 5px;" type="button" class="close" aria-label="Add from Analysis">
                                <span aria-hidden="true">&plus;</span>
                            </button>
                        </div>
                        <div class="panel-body">
                            <p><strong>{{ article.headline }}</strong></p>
                            <p>{{ article.articleText }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div>
                    <div class="panel panel-default"
                        data-ng-class="{ 'panel-success': article.selectedForAnalysis }"
                        data-ng-repeat="article in MainController.getArticleColumn(1, articleDate) track by $index"
                        id="news-article-{{ ($index + MainController.currentDelta) }}">
                        <div class="panel-heading">Article {{ ($index + MainController.currentDelta) }}
                            <button ng-click="MainController.removeArticleIndex(($index + MainController.currentDelta), articleDate)" type="button" class="close" aria-label="Remove from Analysis">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <button ng-click="MainController.addArticleIndex(($index + MainController.currentDelta), articleDate)" style="margin-right: 5px;" type="button" class="close" aria-label="Add from Analysis">
                                <span aria-hidden="true">&plus;</span>
                            </button>
                        </div>
                        <div class="panel-body">
                            <p><strong>{{ article.headline }}</strong></p>
                            <p>{{ article.articleText }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div>
                    <div class="panel panel-default"
                        data-ng-class="{ 'panel-success': article.selectedForAnalysis }"
                        data-ng-repeat="article in MainController.getArticleColumn(2, articleDate) track by $index"
                        id="news-article-{{ ($index + 2 * MainController.currentDelta) }}">
                        <div class="panel-heading">Article {{ ($index + 2 * MainController.currentDelta) }}
                            <button ng-click="MainController.removeArticleIndex(($index + 2 * MainController.currentDelta), articleDate)" type="button" class="close" aria-label="Remove from Analysis">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <button ng-click="MainController.addArticleIndex(($index + 2 * MainController.currentDelta), articleDate)" style="margin-right: 5px;" type="button" class="close" aria-label="Add from Analysis">
                                <span aria-hidden="true">&plus;</span>
                            </button>
                        </div>
                        <div class="panel-body">
                            <p><strong>{{ article.headline }}</strong></p>
                            <p>{{ article.articleText }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <h2 class="text-center" class="ng-cloak">Analysis of News for {{ articleDate.toLocaleDateString('en-US',
            MainController.dateFormattingOptions) }}</h2>
        <div data-ng-show="MainController.approvalRatingPredicted[articleDate.toDateString()] === undefined">
            <p>No articles have been selected for analysis yet.</p>
        </div>
        <div data-ng-hide="MainController.approvalRatingPredicted[articleDate.toDateString()] === undefined">
            <div class="col-md-4">
                <h3 class="text-center">Sentiment Analysis</h3>
                <p class="ng-cloak">Today's news is <strong>{{ MainController.currentExpression[articleDate.toDateString()].expressionName }}</strong>.
                </p>
                <img ng-src="{{ MainController.currentExpression[articleDate.toDateString()].imgPath }}"
                    alt="{{ MainController.currentExpression[articleDate.toDateString()].expressionName }}"
                    ng-show="MainController.showExpression"
                    class="ng-cloak center-block img-responsive"/>
            </div>
            <div class="col-md-4">
                <h3 class="text-center">News Analysis</h3>
                <canvas id="radar" class="chart chart-radar"
                        chart-colors="['rgba(66,179,244,0.4)']"
                        chart-data="MainController.topicStrengths[articleDate.toDateString()]"
                        chart-labels="MainController.topicLabels[articleDate.toDateString()]">
                </canvas>
            </div>
            <div class="col-md-4">
                <h3 class="text-center">Predictions</h3>
                <ul>
                    <li>
                        Predicted approval rating: {{ MainController.approvalRatingPredicted[articleDate.toDateString()] + "%" }}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>

<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="bower_components/chart.js/dist/Chart.min.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-mocks/angular-mocks.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-resource/angular-resource.min.js"></script>
<script src="bower_components/angular-chart.js/dist/angular-chart.min.js"></script>
<script src="app.js" type="application/javascript"></script>
</html>