<html ng-app="StateOfTheMediaApp">
    <head>
        <script src="bower_components/requirejs/require.js"></script>
        <script src="bower_components/jquery/dist/jquery.min.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    </head>

    <body ng-controller="StateOfTheMediaController as MainController">
        <div class="container">
            <div class="row">
                <h1 class="text-center">Welcome to State Of The Media</h1>
            </div>
            <div class="row">
                <h2>Add articles for analysis</h2>
                <form>
                    <div class="form-group">
                        <label>
                        Specify date article was published:
                        <input type="date"
                               ng-model="articleDate"></input>
                        </label>
                        <textarea name=""
                                id="article-text"
                                rows="10"
                                class="form-control"
                                placeholder="Paste the contents of a news article here"
                                ng-model="articleContent"></textarea>
                    </div>
                    <button type="button"
                            class="btn btn-success"
                            ng-click="MainController.addArticle(articleContent, articleDate)">Add Article</button>
                </form>
            </div>
            <div class="row">
                <img ng-src="{{ MainController.currentExpression.imgPath }}"
                     alt="{{ MainController.currentExpression.expressionName }}"
                     ng-show="MainController.showExpression"
                     class="center-block img-responsive"
                     height="200" width="200"/>
            </div>
        </div>
        <script src="bower_components/angular/angular.js" type="application/javascript"></script>
        <script src="bower_components/angular-mocks/angular-mocks.js"></script>
        <script src="bower_components/angular-resource/angular-resource.min.js"></script>
        <script defer src="app.js"></script>
    </body>
</html>